
<footer class="footer">
	<div class="container d-flex align-items-center">
		<div class="col-md-4">
			<span class="footer__copyright">©2019 <b>tulus</b>driyo. All Rights Reserved.</span>
		</div>
		<div class="col-md-3 ml-auto">
			<div class="row">
				<div class="col-md-2"><a href="#" class="team__social team__social--footer"><i class="fab fa-behance-square"></i></a></div>
				<div class="col-md-2"><a href="#" class="team__social team__social--footer"><i class="fab fa-linkedin"></i></a></div>
				<div class="col-md-2"><a href="#" class="team__social team__social--footer"><i class="fab fa-google-plus-square"></i></a></div>
				<div class="col-md-2"><a href="#" class="team__social team__social--footer"><i class="fab fa-facebook-square"></i></a></div>
				<div class="col-md-2"><a href="#" class="team__social team__social--footer"><i class="fab fa-twitter-square"></i></a></div>
			</div>
		</div>
	</div>
</footer>